name: Build, push, and deploy

on: [push]

jobs:
    build-and-run-tests:
        name: Build and push Docker container
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        outputs:
            image: ${{ steps.docker-build-push.outputs.image }}
        steps:
            - uses: actions/checkout@v4
            - name: Build and push Docker image with SBOM
              id: docker-build-push
              uses: nais/docker-build-push@v0
              with:
                  team: navdig
                  identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
                  project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}


    deploy-test:
        name: Deploy application to test env
        needs: build-and-run-tests
        if: github.ref == 'refs/heads/develop'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: nais/deploy/actions/deploy@v2
              env:
                  CLUSTER: dev-fss
                  RESOURCE: nais-test.yml
                  VAR: image=${{ needs.build-and-run-tests.outputs.image }}
    deploy-prod:
        name: Deploy application to prod
        needs: build-and-run-tests
        if: github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: nais/deploy/actions/deploy@v2
              env:
                  CLUSTER: prod-fss
                  RESOURCE: nais.yml
                  VAR: image=${{ needs.build-and-run-tests.outputs.image }}
